<%= form_with(model: wine, local: true) do |form| %>
  <% if wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% wine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :year %>
    <%= form.number_field :year %>
  </div>

  <div class="field">
    <%= form.fields_for :assemblies do |af| %>
      <%= render 'assembly_fields', f: af %>
    <% end %>
  </div>

    <div class="field">
    <%= form.fields_for :wine_scores do |ws| %>
      <%= render 'wine_score_fields', f: ws %>
    <% end %>
  </div>

  <div class="links">
    <%= link_to_add_association 'Otra cepa', form, :assemblies %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
